@import "node_modules/normalize.css/normalize.css";

html, body, .app {
	width: 100%;
	height: 100%;
}

.app {
	position: relative;
	color: white;
	background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/bo_play_pattern.png);
}
