.root {
	width: 100%;
	height: 100%;

	.title {
		position: absolute;
		margin: 0;
		top: 30px;
		left: 0;
		right: 0;

		font-size: 60px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bolder;
		font-family: "Segoe UI", sans-serif;
		pointer-events: none;
	}
}
